/* OUTPUT BY: DENAGA, VISTO, MONTE, DIMAAPI, SILVA, MERCIADEZ, CRUZ */
* {
    margin: 0%;
    padding: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
}

body {
    background-image: url("DevessBG.png");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}

/*----------HEADER DESIGN----------*/

.logo {
    width: 197px;
    height: 55px;
    padding-left: 30px;
}

.header {
    width: 100%;
    height: 65px;
    justify-content: space-between;
    display: flex;
    padding: 16px;
    padding-left: 0px;
    background-color: #150050;
    border-bottom: 2px solid #D9D9D9;
    position: fixed;
    font-size: 18px;
    z-index: 1;
    box-shadow: 1px 1px 20px 0px #000000;
}

.carticon {
    width: 30px;
    position: relative;
    top: 9px;
    opacity: 100%;
}

.navbar ul li { 
    display: inline-block;
    list-style: none;
    margin: 14px;
    margin-top: 8px;
    margin-right: 22px;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:hover {
    transition-timing-function: linear;
    transition-delay: 0.5ms;
    transition-duration: 0.5ms;
    color: #299740;
}

.LoginButton a {
    background-color: #2D0B7B;
    border: 2px solid #2D0B7B;
    border-radius: 7px;
    padding: 7px;
}

.LoginButton a:hover {
    transition-timing-function: ease-in-out;
    transition-delay: 0.5ms;
    transition-duration: 0.5ms;
    background-color: #270082;
    border: 2px solid #270082;
    box-shadow: 1px 1px 20px 0px #000000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


/*----------CONTENT DESIGN----------*/

.content {
    height: 650px;
    z-index: 1;
}
.form {
    width: 470px;
    height: 400px;
    background: #150050;
    top: 140px;
    left: 660px;
    right: 0;
    margin: auto;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    box-shadow: 2px 2px 20px 0px #000000;
}
.form h2 {
    width: 220px;
    text-align: left;
    font-size: 40px;
}
.form input[type=email], input[type=password] {
    width: 450px;
    height: 35px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    border-radius: 7px;
    border: none;
    padding: 0 10px 0 10px;
}
.form input[type=email], input[type=password]:focus {
    outline: none;
}
::placeholder {
    color: #D2D2D2;
    font-weight: bold;
}
.form input[type=submit] {
    width: 470px;
    height: 40px;
    background: #2D0B7B;
    border: none;
    margin-top: 30px;
    font-size: 25px;
    border-radius: 7px;
    color: #FFFFFF;
}
.form input[type=submit]:hover {
    transition-timing-function: linear;
    background-color: #270082;
    color: #299740;
    cursor: pointer;
    box-shadow: 1px 1px 20px 0px #000000;
}

.form input[type=submit]a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #2D0B7B;
}
.form .link {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    margin-top: 5%;
}
.form .link a {
    font-size: 20px;
    text-decoration: none;
    color: #299740;
}
.form .link a:hover {
    transition-timing-function: linear;
    color: #00ED32;
}
.dev {
    position: absolute;
    width: 640px;
    top: 250px;
    left: 0px;
    right: 620px;
    margin: auto;
}


/*----------FOOTER DESIGN----------*/

.footer {
    background-color: #3E3E3E;
    padding: 30px 45px 20px 40px;
    height: 240px;
    border-top: 5px solid #D64D4D;
    display: grid;
}
.footerUpper {
    display: grid;
    text-align: center;
    place-items: center;
}

.footerDesc {
    color: #F2D2BD;
    font-size: 16px;
}

.footerTitle {
    color: #A47F68;
    padding-bottom: 10px;
}

.footerInfo {
    width: 850px;
}

.footerSocials {
    display: inline-flex;
    place-content: center;
    text-align: center;
    justify-content: space-evenly;
}

.socHeading {
    color: #959292;
}

.contact p {
    font-size: 12px;
}

.follow ul li {
    list-style-type: none;
}

.follow img {
    width: 30px;
    height: 30px;
    padding: 7px;
}

.socIcons {
    display: inline-flex;
}

.footerLowest span{
    font-size: 12px;
    color: #F2D2BD;
    display: inline;
}

.footerUnder {
    padding-top: 5px
}

.footerFR {
    float: right;
    padding-top: 4px;
}

